#bewerkForm__main {
  display: block;
  text-align: center;
}

#bewerkForm__titel {
  display: flex;
  margin: 4rem 2rem 0 2rem;
}

#bewerkForm__titel section{
  padding-top: 1.1rem;
  width: 25%;
}

#bewerkForm__titel section hr{
  border: .2rem solid #008FE2;
  border-radius: .5rem;
  margin-top: 2rem;
}

#bewerkForm__titel h2{
  width: 50%;
  color: #008FE2;
  margin: 0 1rem;
}

#bewerkForm__section {
  display: inline-block;
  text-align: center;
  border: .1rem solid;
  border-color: #008FE2;
  margin: 2rem 2rem;
  padding: 1.5rem;
  box-shadow: .2rem .2rem .2rem #888888;
  z-index: 0;
}

#bewerkForm {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

#bewerkForm label {
  padding-left: 1.5rem;
}

#bewerkForm .bewerkForm__input {
  margin: .5rem 0 2rem 0;
  border: .1rem solid;
  border-color: #008FE2;
  border-radius: 1.5rem;
  padding: .35rem 0 .3rem 1.5rem;
  width: 80%;
  font-size: 1.6rem;
}

#bewerkForm__beschrijving {
  resize: none;
}

#bewerkForm__fotoPreview__input {
  display: inline;
  margin-top: .5rem;
  padding: .3rem 0;
}

#bewerkForm__fotoPreview {
  display: inline;
}

#bewerkForm__fotoPreview__input {
  display: inline;
  margin-top: .5rem;
  padding: .3rem 0;
}

#bewerkForm__fotoPreview__foto {
  width: 15rem;
}

#bewerkForm__categorie--label {
  display: inline-block;
  margin-top: 1.5rem;
}

#bewerkForm__categorie {
  border: .1rem solid;
  border-color: #008FE2;
  border-radius: 1.5rem;  background: none;
  padding: .5rem 0 .3rem 1.5rem;
  margin-top: .5rem;
  width: 80%;
  font-size: 1.6rem;
}

#bewerkForm__categorieSuggestions ul {
  list-style: none;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.3rem;
  border: solid;
  border-width: .1rem;
  border-color: #008FE2;
  border-radius: .5rem;
  position: absolute;
  z-index: 10;
  width: 68.2%;
  max-height: 17rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

#bewerkForm__categorieSuggestions li {
  font-size: 1.6rem;
  padding: .3rem 0 .3rem 1.5rem;
  cursor: pointer;
}

#bewerkForm__categorieSuggestions li:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.20);
}

#bewerkForm__prijs {
  font-size: 1.6rem;
  padding: .1rem 0 .2rem 1.5rem;
  margin: .5rem 0 1.5rem 0;
  border: .1rem solid;
  border-color: #008FE2;
  border-radius: 1.5rem;
  width: 80%;
}

#bewerkForm__prijsInput {
  font-size: 1.4rem;
  border-style: none;
  padding-left: 1rem;
  width: 80%;
  font-size: 1.6rem;
  /* Firefox */
  -moz-appearance: textfield;

}

/* Chrome, Safari, Edge, Opera */
#bewerkForm__prijsInput::-webkit-outer-spin-button,
#bewerkForm__prijsInput::-webkit-inner-spin-button, {
  -webkit-appearance: none;
  margin: 0;
}

#bewerkForm__buttons button:hover {
  cursor: pointer;
}

#bewerkForm__buttons {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

#bewerkForm__buttons__submit {
  font-size: 1.4rem;
  padding: .5rem 1.5rem;
  border-radius: 1.5rem;
  border: solid .2rem #008FE2;
  background-color: #008FE2;
  color: white;
  justify-self: right;
}

#bewerkForm__buttons__submit:hover {
  border: solid .2rem black;
}

#bewerkForm__buttons__delete {
  border-radius: 1.5rem;
  border: solid .2rem red;
  background-color: red;
  font-size: 1.4rem;
  color: white;
  padding: .5rem 1.5rem;
  margin-right: 2rem;
}

#bewerkForm__buttons__delete:hover {
  border: solid .2rem black;
  cursor: pointer;
}

#bewerkForm__buttons__reset {
  text-decoration: underline;
  padding: .5rem 0;
  color: #008FE2;
  border: none;
  background-color: white;
  font-size: 1.4rem;
  font-style: italic;
  margin-top: 3rem;
}

#bewerkForm__buttons__reset:hover {
  text-shadow: .1rem .1rem .1rem #888888;
  cursor: pointer;
}

#bewerkForm__buttons__reset:active {
  text-shadow: 0 0 0;
}

#gerVerw__background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#gerVerw {
  background-color: white;
  z-index: 4;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80vw;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation: animatezoom .6s;
  border-radius: 30px;
}

@keyframes animatezoom {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

#gerVerw__test {
  margin-top: 1em;
}

#gerVerw__text {
  font-size: 1.6rem;
  padding-left: 1em;
  padding-bottom: 1em;
  display: inline;
  width: 80%;
}

#gerVerw__buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#gerVerw__buttons__nee {
  color: #008FE2;
  font-weight: bold;
  background-color: white;
  border: solid .2rem #008FE2 ;
  border-radius: 3rem;
  width: 50%;
  text-decoration: none;
  text-align: center;
  height: 3rem;
  margin: 2em 3em;
}

#gerVerw__buttons__ja {
  color: white;
  font-weight: bold;
  background-color: #008FE2;
  border: solid .2rem #008FE2;
  border-radius: 3rem;
  width: 50%;
  height: 3rem;
  text-decoration: none;
  text-align: center;
  margin: 2em 3em;
}

#gerVerw__buttons__nee:hover{
  cursor: pointer;
  border: solid .2rem black;
  color: black;
}

#gerVerw__buttons__ja:hover{
  cursor: pointer;
  border: solid .2rem black;
}

@media only screen and (min-width: 400px) {
  #bewerkForm__categorieSuggestions ul {
    width: 50%;
  }
}

@media only screen and (min-width: 472px) {
  #bewerkForm__titel section hr{
    margin-top: .5rem;
  }
}

@media only screen and (min-width: 584px) {
  #bewerkForm__titel {
    margin: 0rem 2rem 2rem 2rem;
  }

  #bewerkForm__section {
    width: 80%;
  }

  #bewerkForm__titel {
    display: inline-flex;
    width: 50%;
    font-size: 2.2rem;
  }

  #bewerkForm__titel section{
    width: 60%;
  }

  #bewerkForm__titel section hr{
    margin-top: 1rem;
  }

  #bewerkForm {
    width: 80%;
  }

  #bewerkForm label{
    font-size: 2.2rem;
  }

  #bewerkForm .bewerkForm__input{
    margin: 1rem 0 4rem 0;
    font-size: 2rem;
    width: 100%;
  }

  #bewerkForm__fotoPreview {
    display: grid;
    grid-template-columns: 50% auto;
  }


  #bewerkForm__fotoPreview__input {
    font-size: 1.6rem;
  }

  #bewerkForm__categorie--label {
    margin-top: 0;
  }

  #bewerkForm__categorie {
    font-size: 2rem;
    width: 100%;
  }

  #bewerkForm__categorieSuggestions {
    margin: 0rem 0 3rem 0;
    width: 100%;
  }

  #bewerkForm__categorieSuggestions ul {
    width: 50%;
  }

  #bewerkForm__categorieSuggestions li {
    font-size: 2rem;
  }

  #bewerkForm__prijs {
    font-size: 2rem;
    width: 100%;
    padding-bottom: .3rem;
  }

  #bewerkForm__prijsInput {
    font-size: 2rem;
  }

  #bewerkForm__buttons {
    width: 100%;
  }

  #bewerkForm__buttons button {
    font-size: 2rem;
    width: 80%;
  }

  #bewerkForm__buttons__reset {
    margin-top: 6rem;
    font-size: 2rem;
  }

  #gerVerw__button {
    margin-top: 6rem;
    font-size: 2rem;
  }

  #gerVerw {
    left: 25%;
    width: 50vw;
  }

  #gerVerw__buttons__nee {
    width: 40%;
  }

  #gerVerw__buttons__ja {
    width: 40%;
  }

  #gerVerw__text {
    font-size: 2rem;
  }

  #gerVerw__buttons button{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  #bewerkForm{
    width: 60%;
  }

  #bewerkForm__categorieSuggestions ul {
    width: 40%;
  }

  #gerVerw {
    left: 30%;
    width: 40vw;
  }
}

@media only screen and (min-width: 1500px) {
  #bewerkForm__section {
    width: 70%;
  }

  #bewerkForm{
    width: 60%;
  }

  #gerVerw {
    left: 35%;
    width: 30vw;
  }
}

@media only screen and (min-width: 1800px) {
  #bewerkForm__section {
    width: 60%;
  }

  #bewerkForm{
    width: 45%;
  }
}

@media only screen and (min-width: 2100px) {
  #bewerkForm__section {
    width: 50%;
  }

  #bewerkForm{
    width: 40%;
  }

  #bewerkForm__categorieSuggestions ul {
    width: 20.7%;
  }
}
