#gemaModal {
  display: inline-block;
  text-align: center;
  border: solid .1rem;
  background-color: white;
  width: 90%;
  animation: animatezoom .6s;
}

@keyframes animatezoom {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

#gemaModal__titel p {
  font-weight: bold;
  margin: 1.5rem 0;
}

#gemaModal__details {
  display: inline-block;
  border: solid .1rem #008FE2;
  background-color: #DFF4FF;
  width: 80%;
}

#gemaModal__details__klant {
  text-align: left;
  padding: .5rem 0 0 1rem;
}

.gemaModal__details__klant__p {
  padding-top: .5rem;
}

#gemaModal__details__bestelling {
  border-top: solid .1rem #008FE2;
  height: 40vh;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-y: scroll;
}

/* width */
#gemaModal__details__bestelling::-webkit-scrollbar {
  width: .3rem;
  height: .3rem;
}

/* Track */
#gemaModal__details__bestelling::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
#gemaModal__details__bestelling::-webkit-scrollbar-thumb {
  background: #5472c0;
  border-radius: 2rem;
}

/* Handle on hover */
#gemaModal__details__bestelling::-webkit-scrollbar-thumb:hover {
  background: #008FE2;
}

/* Corner */
#gemaModal__details__bestelling::-webkit-scrollbar-corner {
  background: none;
}

.gemaModal__details__bestelling__p {
  text-align: left;
  padding: 1rem 0 0 1rem;
}

#gemaModal__buttons {
  text-align: center;
  margin: 1.5rem 1rem;
}

#gemaModal__buttons__return {
  border: none;
  background-color: white;
  text-decoration: underline;
  font-style: italic;
  color: #008FE2;
  width: 90%;
}

#gemaModal__buttons__return:hover {
  cursor: pointer;
  text-shadow: .1rem .1rem .1rem #888888;
}

@media only screen and (min-width: 668px) {
  #gemaModal {
    width: 50%;
  }
}

@media only screen and (min-width: 1064px) {
  #gemaModal {
    width: 35%;
  }
}

@media only screen and (min-width: 1326px) {
  #gemaModal {
    width: 25%;
  }
}
