#geplBest__section {
  text-align: center;
}

#geplBest {
  display: inline-block;
  width: 80%;
  border: solid .1rem;
}

#geplBest__titel {
  border-bottom: solid .1rem;
  background-color: #DFF4FF;
  padding: 1.5rem 0;
}

#geplBest__titel h3{
  display: inline;
  margin-left: 3rem;
}

#geplBest__titel__buttons {
  display: inline;
  float: right;
  margin-right: 1.5rem;
}

#geplBest__titel__buttons button{
  width: 1.5rem;
  border: none;
  background: none;
}

#geplBest__titel__buttons button:hover{
  cursor: pointer;
}

#geplBest__titel__collapse {
  display: none;
}

.arrow {
  border: solid slategrey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#geplBest__ul {
  height: 0;
  overflow-y: scroll;
  transition: height 0.3s ease-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#geplBest__ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#geplBest__ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media only screen and (min-width: 665px) {
  #geplBest__titel {
    max-width: 53.2rem;
  }
}

@media only screen and (min-width: 1290px) {
  #geplBest__titel h3{
    margin-left: 0rem;
  }

  #geplBest__titel__expand {
    display: none;
  }

  #geplBest__ul {
    height: 75rem;
    overflow-y: scroll;
    transition: height 0.3s ease-out;
  }
}
