#restBest__main {
  text-align: center;
  margin-top: 18vh;
}

#restBest__titel {
  display: inline-flex;
  text-align: center;
  margin: 4rem 2rem 0 2rem;
  width: 80%;
  max-width: 65rem;
}

#restBest__titel section{
  padding-top: 1.5rem;
  width: 25%;
}

#restBest__titel section hr {
  border: .2rem solid #008FE2;
  border-radius: .5rem;
}

#restBest__titel h2 {
    width: 50%;
    color: #008FE2;
    margin: 0 1rem;
}

#restBest__refresh {
  display: inline-grid;
  grid-template-columns: auto 3.8rem;
  margin-left: 3.8rem;
  margin-bottom: 1rem;
}

#restBest__refresh__button {
  border-radius: 1.5rem;
  border: solid .2rem #008FE2;
  background-color: #008FE2;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  margin: auto;
  font-size: 1.6rem;
}

#restBest__refresh__button:hover {
  cursor: pointer;
  border: solid .2rem black;
}

#restBest__refresh__logo {
  display: none;
  height: 2.8rem;
  margin-left: 1rem;
  align-self: center;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media only screen and (min-width: 600px) {
  #restBest__titel section {
    width: 35%;
  }

  #restBest__titel h2 {
    width: 30%;
  }
}

@media only screen and (min-width: 1290px) {
  #restBest__main {
    text-align: center;
    margin-top: 15vh;
  }

  #restBest__titel {
    display: inline-flex;
    width: 50%;
    font-size: 2.2rem;
  }

  #restBest__titel section {
    width: 100%;
    padding: 1.1rem;
  }

  #restBest__titel section hr{
    margin-top: 1rem;
  }

  #restBest__titel h2 {
    width: 80%;
    margin: 0 1rem;
    font-size: ;
  }

  #restBest__refresh {
    margin: 4rem 0 2rem 5rem;
    grid-template-columns: auto 5rem;
  }

  #restBest__refresh__button {
    font-size: 2.2rem;
    padding: 1rem 2rem;
  }

  #restBest__refresh__logo {
    height: 4rem;
  }

  #restBest__lijsten {
    width: 80%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }
}
