#restDash__main {
  text-align: center;
  margin-top: 18vh;
  max-width: 200vw;
}

#restDash__head {
  display: flex;
  text-align: center;
  margin: 0rem 2rem 0 2rem;
}

#restDash__head section{
  padding-top: 3rem;
  width: 25%;
}

#restDash__head section hr {
  border: .2rem solid #008FE2;
  border-radius: .5rem;
}

#restDash__head h2 {
    width: 50%;
    color: #008FE2;
    margin: 0 1rem;
}

#restDash__body {
  display: inline-grid;
  grid-template-columns: auto;
  max-width: 37.5rem;
}

.restDash__card {
  background-color: #DFF4FF;
  margin: 0rem 2rem 4rem 2rem;
  border-radius: 1.5rem;
}

.restDash__card p{
  text-align: left;
  padding: 8rem 2rem 0 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
}

.restDash__button {
  display: block;
  width: 100% - .4rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  border: none;
  background-color: #008FE2;
  color: white;
  padding: 1rem 0;
  margin-top: 8rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border: solid .2rem #008FE2;
}

.restDash__card button:hover {
  border: solid .2rem black;
}

@media only screen and (min-width: 584px) {
  #restDash__head {
    display: inline-flex;
    width: 50%;
    margin-top: 1rem;
  }

  #restDash__head section {
    padding-top: 1.5rem;
    width: 70%;
  }

  #restDash__head section hr{
    margin-top: .6rem;
  }

  #restDash__head h2 {
    width: 100%;
    margin: 0 1rem;
    font-size: 3.3rem;
  }

  #restDash__body {
    padding-top: 5rem;
    grid-template-columns: auto auto auto;
    max-width: 112.5rem;
  }

  .restDash__card {
    width: 33.5rem;
  }
}

@media only screen and (max-width: 1125px) {
  #restDash__body {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 750px) {
  #restDash__body {
    grid-template-columns: auto;
  }
}
