#gemaBest__section {
  text-align: center;
}

#gemaBest {
  display: inline-block;
  width: 80%;
  border: solid .1rem;
}

#gemaBest__titel {
  border-bottom: solid .1rem;
  background-color: #DFF4FF;
  padding: 1.5rem 0;
}

#gemaBest__titel h3 {
  display: inline;
  margin-left: 3rem;
}

#gemaBest__titel__buttons {
  display: inline;
  float: right;
  margin-right: 1.5rem;
}

#gemaBest__titel__buttons button{
  width: 1.5rem;
  border: none;
  background: none;
}

#gemaBest__titel__buttons button:hover{
  cursor: pointer;
}

#gemaBest__titel__collapse {
  display: none;
}

#gemaBest__ul {
  height: 0;
  overflow-y: scroll;
  transition: height 0.3s ease-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#gemaBest__ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#gemaBest__ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media only screen and (min-width: 665px) {
  #gemaBest__titel {
    max-width: 53.2rem;
  }
}

@media only screen and (min-width: 1290px) {
  #gemaBest__titel h3{
    margin-left: 0rem;
  }

  #gemaBest__titel__expand {
    display: none;
  }

  #gemaBest__ul {
    height: 75rem;
    overflow-y: scroll;
    transition: height 0.3s ease-out;
  }
}
