.bezBest__card {
  border-bottom: solid .1rem;
  text-align: left;
  list-style-type: none;
  padding: .3rem 0 0 .8rem;
}

.bezBest__card section{
  text-align: center;
}

.bezBest__card__ordernr {
  font-weight: bold;
}

.bezBest__card__button {
  background-color: #008FE2;
  color: white;
  border: solid .2rem #008FE2;
  border-radius: 1.5rem;
  padding: .5rem 2rem;
  margin: 1rem 0;
}

.bezBest__card__button:hover {
  cursor: pointer;
  border: solid .2rem black;
}

.gemaBest__modal {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

@media only screen and (min-width: 665px) {
  .gemaBest__modal {
    padding-top: 20vh;
  }

  #bezBest {
    max-width: 53.2rem;
  }
}
