.Bestel_restaurant_list{
  width: 80%;
  display: grid;
  grid-template-columns: 28% 28% 28%;
  align-content: start;
  grid-gap: 20px;
  grid-auto-rows: 175px;
  margin:2% 3%;
  margin-left: 20%;
  margin-top: 20vh;
  width: 80%;
}

@media only screen and (max-width: 1200px) {
  .Bestel_restaurant_list{
    grid-template-columns: 40% 40%;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 960px) {
  .Bestel_restaurant_list{
    grid-template-columns: 60%;
    margin-left: 40%;
  }
}
@media screen and (max-width: 642px){
  .Bestel_restaurant_list{
    grid-template-columns: 90%;
    margin: 0 auto;
    margin-top: 5%;
  }
}
