.betaalmethode__section {

}

.betaalmethode__section__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
}

.betaalmethode__section__list__item, .activebutton {
  box-sizing: border-box;
  background-color: #DFF4FF;
  border-radius: 10px;
  width: 80%;
  border: 3px solid transparent;
}

.betaalmethode__section__list__item:hover, .cashactive, .idealactive, .paypalactive, .mastercardactive, .visaactive {
  border: 3px black solid;
}

.betaalmethode__section__list__item__figure {

}

.betaalmethode__section__list__item__figure__image {
  width: 70%;
  margin: 15%;
}


@media(max-width: 500px) {

  .betaalmethode__section {

  }

  .betaalmethode__section__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .betaalmethode__section__list__item {
    width: 100%;
  }

  .betaalmethode__section__list__item:hover {
  }

  .betaalmethode__section__list__item__figure {

  }

  .betaalmethode__section__list__item__figure__image {
    width: 70%;
    margin: 15%;
  }

}
