.betaalpagina__section {
  margin: 200px 15%;
}

.betaal__header {
  margin-top: 5%;
  margin-bottom: 5%;
}

.betaalpagina__section__input {
  height: 30px;
  width: 200px;
}

.betaalpagina__section__button {
  background-color: #008FE2;
  border: 3px solid transparent;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
}

.betaalpagina__section__button:hover {
  border: 3px solid black;
}

.betaalpagina__section__errorbericht {
  color: red;
  display: none;
}

.betaalpagina__section__placeholder {
  color: white;
}

.link {
  color: white;
  text-decoration: none;
}

@media(max-width: 1000px) {
  .betaalpagina__section {
    margin: 150px 10%;
  }
}
