.card{
    width: 100%;
    height: 100%;
}
  
.card__header{
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: solid 1px black;
    background-color: #DFF4FF;
    /* text-align: center; */
}
  
header.card__header h2{
    color: black;
    font-weight: bold;
}
  
.card__content{
    border: solid 1px black;
    box-sizing: border-box;
} 

.card__content__list{
    list-style-type: none;
    max-height: 500px;
    overflow: auto;
}

.card__content__list__item{
    border-top: solid 1px black;
    padding: 1rem;
}

.card__content__list__item__tekst{
    color: grey;
    text-align: center;
    font-style: italic;
}

.card__content__list__button{
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    margin-top: 1rem;
}

.card__content__list__button:hover{
    border: 3px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .card__content{
        margin-bottom: 4rem;
    } 
}