.bezorgerPagina{
    margin: 0 10rem;
    padding: 4rem;
    line-height: 1.55;
    box-sizing: border-box;
    width: auto;
}

.bezorgerPagina_grid1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10rem;
    margin-bottom: 7rem;
    margin-top: 17rem;
}

.bezorgerPagina_grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10rem;  
    margin-bottom: 7rem;  
}

.bezorgerPagina_foto{
    width: 100%;
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    animation: animatezoom .6s;
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Modal Content */
.modal_content {
    background-color: #fefefe;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 30px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_content_button{
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    margin-top: 1rem;
  }

@media only screen and (max-width: 1050px) {
    .bezorgerPagina{
        margin: 0 2rem;
        padding: 2rem;
    }

    .bezorgerPagina_grid1{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr; 
        margin-bottom: 4rem;
        margin-top: 14rem;
    }

    .bezorgerPagina_grid2{
        grid-template-columns: 1fr; 
        margin-bottom: 0rem; 
    }

    .modal_content{
        width: 80%;
    }
  }