.filter{
    padding: 1rem;
  }

.filter__select{
    background-color:#f1f1f1;
    width: 70%;
    font-family: sans-serif;
    font-size: 16px;
    padding: 1rem;
}

.filter__label{
    margin-right: 1rem;
}
  