
.bezorglocatie {

}

.bezorglocatie__article {
  width: 40%;
  border: 1px black solid;
  border-radius: 10px;
  height: 140px;
}

.bezorglocatie__article__header {
  margin: 3px 15px;
}

.bezorglocatie__article__text {
  margin: 3px 15px;
}

@media(max-width: 500px) {

  .bezorglocatie {

  }

  .bezorglocatie__article {
    width: 100%;
  }

}
