.DeliveryLocationTracker{
  margin: 0;
  padding: 0;
  width: 80%;
}

.DeliveryLocationTracker_text{
  float: right;
}

.DeliveryLocationTracker_text > p{
  width: 60%;
  font-size: 20px;
  margin-top: 10px;
}

.map{
  max-width: 33vw;
  max-height: 50vh;
  margin-left: 18%;
  margin-bottom: 50px;
}

@media (max-width: 1700px) {
  .DeliveryLocationTracker{
    height: auto;
  }
  .DeliveryLocationTracker_text{
    text-align: center;
    width: 100%;
    margin: 0vh auto 5vh auto;
  }

  .DeliveryLocationTracker_text > p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }

  .DeliveryLocationTracker_text > h2{
    width: 70%;
    margin: 0 auto;
  }

  .DeliveryLocationTracker{
    width: 100%;
    height: 30vh;
  }

  .map{
    margin-top: 25vh;
    max-width: 95%;
    max-height: 40%;
    margin-left: 2.5%;
  }
}
