.BezorgtijdTracker
{
  width: 80%;
  margin-left: 10%;
  height: 50vh;
  margin-top: 16vh;
}

.BezorgtijdTracker_text{
  text-align: center;
  padding-top: 20px;
}

.BezorgtijdTracker_text > h1{
  font-size: 35px;
  margin-top: 40px;
}

.BezorgtijdTracker_text > h2{
  font-size: 25px;
}

.BezorgtijdTracker_bezorger{
  width: 80%;
  border-bottom: 5px solid black;
  margin-left: 10%;
  margin-top: 25px;
}

.BezorgtijdTracker_bezorger_img{
  position: relative;
  width: 17%;
}

@media (max-width: 1700px) {
  .BezorgtijdTracker_bezorger{
    display: none;
  }

  .BezorgtijdTracker{
    height: 28vh;
  }
}

@media (max-width: 750px) {
  .BezorgtijdHeader_list_tekst_p{
    margin-top: 6%;
  }
}
