.edit
{
    width: 100%;
    height: 100%;
}

.edit_form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    width: 40vw;
    left: 50%;
    top: 25%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    margin-top: 30vh;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 5%;
    border-radius: 30px;
    padding: 2em;
}

.edit_form_section
{
    width: 100%;
}

.edit_form_submit
{
    float: right;
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 40%;
    height: 70%;
    margin-top: 1em;
    margin-right: 20%;
    border: white;
    margin-bottom: 1em;
    justify-self: end;
    grid-column-start: 2;
}

.edit_form_submit:hover
{
    cursor: pointer;
    border: 3px solid black;
}

.edit_form_section_label
{
    width: 60%;
    height: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;

}

.edit_form_section_icon_img
{
    width: 90%;
}

.edit_form_section_icon_img:hover
{
    cursor: pointer;
}

.edit_form_section_icon
{
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
}

.edit_form_section_input
{
    width: 85%;
    height: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    /* background-color: #8080804d; */
}

.edit_form_select
{
    width: 85%;
    height: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
    font-weight: bold;
    color: white;
    border-color: black;
    background-color: #008FE2;
}

.edit_form_header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 1em;
    color:  #008FE2;
    position: absolute;
    top: 0;
}

.edit_form_header_line
{
    width: 80%;
    border-style: none;
    border-radius: 50px;
    height: 5px;
    background-color: #008FE2;
}

.edit_form_header_h1
{
    padding: 1em;
}

.edit_form_margin
{
    margin-top: 3.5em;
}

@media screen and (max-width: 500px) {

    .edit_form
    {
        top: 45%;
        width: 75vw;
        display: block;
    }

    .edit_form_margin
    {
        margin: 0;
    }

    .edit_form_header
    {
        left: 0;
    }

    .edit_form_submit {
        width: 100px;
        height: 40px;
    }

    .edit_form__responsive
    {
        margin-top: 4em;
    }

}