.GerechtenKlantKeuze{
  background-color: #DFF4FF;
  background: #DFF4FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: .3s ease;
  cursor: pointer;
}



.GerechtenKlant_main{
  display: grid;
  grid-template-columns: 34% 34%;
  grid-gap: 5%;
  margin: 3% 0 0 6%;
  padding-bottom: 4%;
}

.CategorieTitel{
  margin-left: 5%;
  margin-top: 2%;
  font-weight: lighter;
  font-size: 22px;
  font-style: italic;
}

.GerechtenWinkelmandje_open_button{
  display: none;
}

@media only screen and (max-width: 1005px) {
  .GerechtenKlant_main{
    grid-template-columns: 60%;
  }
}

@media only screen and (max-width: 710px) {
  .GerechtenKlant_main{
    grid-template-columns: 97%;
    margin-bottom: 30%;
  }
  .GerechtenWinkelmandje_open_button{
    display: block;
    position: fixed;
    height: 10vh;
    bottom: 0;
    text-align: center;
    border-radius: 15px;
    border: solid 2px #008FE2;
    background-color: #008FE2;
    color: white;
    width: 100%;
    cursor: pointer;
    outline: none;
    font-size: 30px;
    padding: 2px;
    font-style: italic;
    z-index: 0;
  }

  .Gerechtenwinkel_modal_mobile{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

}
