.GerechtenKlantMenu{
  margin-left: 5%;
  margin-top: 6%;
  width: 15%;
}

.CategorieList_title{
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  cursor: pointer;
}

.CategorieList_arrow{
  border: solid 2px #008FE2;;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  margin-left: 7%;
  margin-bottom: 0.15%;
}



.CategorieList{
  display: none;
  list-style: none;
  position: absolute;
}

.CategorieList_item{
  padding: 5px;
  border: solid 2px black;
  background-color: #008FE2;
  cursor: pointer;
}

.CategorieList_item_content{
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 7.5px;
}

.CategorieList_title:hover~.CategorieList{
  display: block;
}

.CategorieList:hover{
  display: block;
}

.CategorieList_item:hover{
  background-color: #00bce2;
}

.CategorieList_item_content:hover{
  transition: .2s ease;
  transform: scale(1.2);
}
