.GerechtenKlantBannerImg{
  width: 100%;
  height: 35%;
  position: absolute;
  top: 0;
  margin-top: 13vh;
  object-fit: cover;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: -1;
}
