.GerechtenWinkelmandje{
  width: 20%;
  position: fixed;
  margin-left: 80%;
  background-color: #DFF4FF;
  background: #DFF4FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 80%;
}

.GerechtenWinkelmandje_lijst{
  list-style: none;
  margin: 0 5%;
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
}

.GerechtenWinkelmandje_button{
  display: block;
  text-align: center;
  border-radius: 15px;
  border: solid 2px #008FE2;
  background-color: #008FE2;
  color: white;
  width: 250px;
  height: 45px;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  padding: 2px;
  font-style: italic;
  top: 90%;
  left: 10%;
  position: absolute;
}

.GerechtenWinkelmandje_button:hover{
    border: solid 2px black;
}

.GerechtenWinkelmandje_totaalBedrag{
  left: 10%;
  position: absolute;
}

@media only screen and (max-width: 1400px) {
  .GerechtenWinkelmandje_button{
    width: 200px;
    height: 30px;
    font-size: 20px;
  }
  .GerechtenWinkelmandje_totaalBedrag{
    left: 10%;
    position: absolute;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1111px) {
  .GerechtenWinkelmandje_button{
    width: 150px;
    height: 35px;
  }
}
@media only screen and (max-width: 1005px) {
  .GerechtenWinkelmandje{
    margin-left: 70%;
    width: 30%;
  }
  .GerechtenWinkelmandje_button{
    width: 175px;
    left: 17%;
  }

  .GerechtenWinkelmandje_totaalBedrag{
    padding: 0 10%;
  }
  .GerechtenWinkelmandje_lijst{
    list-style: none;
    margin: 0 5%;
    height: 83%;
    overflow: scroll;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 710px) {
  .GerechtenWinkelmandje{
    display: none;
  }

  .GerechtenWinkelmandje_mobile{
    background-color: #DFF4FF;
    background: #DFF4FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 55%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20vh;
    height: 60vh;
    width: 70%;
    z-index: 1;
  }

  .Winkelmandje_close {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 32px;
    height: 32px;
    opacity: 1;
    margin-bottom: 5%;
  }

  .Winkelmandje_close:before, .Winkelmandje_close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .Winkelmandje_close:before {
    transform: rotate(45deg);
  }
  .Winkelmandje_close:after {
    transform: rotate(-45deg);
  }

  .GerechtenWinkelmandje_button{
    display: block;
    margin: 0 auto;
    width: 100%;
    left: 0;
    height: 5vh;
  }

  .GerechtenWinkelmandje_totaalBedrag{
    padding: 0 10%;
    margin-bottom: 5%;
  }

  .GerechtenWinkelmandje_lijst{
    list-style: none;
    margin: 0 5%;
    margin-top: 12%;
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
  }


}
