
.infocontainer
{
    width: 100%;
    margin-bottom: 5em;
}

.infocontainer_list
{
    list-style-type: none;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
}

.infocontainer_list_item_img
{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infocontainer_list_item_h2, .infocontainer_list_item_p
{
    text-align: center;
}

.infocontainer_list_item_h2
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.infocontainer_list_item_p
{
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.infocontainer_head_h1, .infocontainer_head_p
{
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.infocontainer_head_h1
{
    font-size: 28px;
    font-weight: bold;
}

.infocontainer_head_p
{
    font-size: 24px;
    font-weight: bold;
    color: #008FE2;
    margin-top: 1em;
}

.prev, .next, .dot
{
    display: none;
}

.infocontainer_list_item_arrow
{
    display: none;
}




@media screen and (max-width: 500px) {

    .infocontainer_list
    {
        /* grid-template-columns: ; */
        display: block;
        max-width: 100%;
        position: relative;
        margin: auto;
    }

    .infocontainer_list_item
    {
        margin-top: 1em;
        margin-bottom: 40%;
    }

    .infocontainer_list_item_arrow
    {
        display: block;
        text-align: center;
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }

    a.infocontainer_list_item_arrow_down
    {
        margin: 0;
        margin-top: 0.5em;
    }



    @keyframes bounce {
        0%, 100%, 20%, 50%, 80% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }


}