.LandingHeader
{
    /* background-color: #008FE2; */
    background-color: #008FE2; /* For browsers that do not support gradients */
    background-image: linear-gradient(#5472c0,#008FE2);
    height: 35vh;
    width: 100vw;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;

}

.LandingHeader_list_modal
{
    background-color: white;
    z-index: 4;
    position: absolute;
    top: 10%;
    right: 2%;
    width: 30vw;
    display: none;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: animatezoom .6s;
    border-radius: 30px;
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.test
{
    margin-top: 1em;
}

.LandingHeader_list_modal_text
{
    font-size: 16px;
    padding-left: 1em;
    padding-bottom: 1em;
    float: left;
    display: inline;
    width: 80%;
}

.LandingHeader_list_modal_header_cross
{
    font-size: 20px;
    margin-right: 1em;
}

.LandingHeader_list_modal_header_cross:hover
{
    cursor: pointer;
}

.LandingHeader_list_modal_line
{
    width: 90%;
    display: block;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    background: #EFEFEF;
    border-style: none;
}

.LandingHeader_list_modal_buttons
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.LandingHeader_list_modal_buttons_secondary
{
    color: #008FE2;
    font-weight: bold;
    background-color: white;
    border: 2px solid #008FE2 ;
    border-radius: 30px;
    width: 40%;
    padding-top: 2%;
    text-decoration: none;
    text-align: center;
    height: 30px;
    margin: 2em 3em;
}
.LandingHeader_list_modal_buttons_primary
{
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 40%;
    height: 30px;
    padding-top: 2%;
    text-decoration: none;
    text-align: center;
    margin: 2em 3em;
}

.LandingHeader_list_login_icon
{
    display: none;
    width: 50px;
    margin: auto;
}






.LandingHeader_list
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 1fr;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.LandingHeader_list_logo_img
{
    width: 80%;
    display: block;
    margin: auto;
}

.LandingHeader_list_login
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

 .LandingHeader_list_login_button
{
    text-align: center;
    font-weight: bold;
    font-size: 16px;;
    text-align: center;
    color: white;
    background-color: #333 ;
    width: fit-content;
    padding: 1.5em;
    border-radius: 30px;
    border-style: none;
}

.LandingHeader_list_login_button:hover
{
    cursor: pointer;
    background-color: black;

}

.LandingHeader_list_tekst_p
{
    font: 20px;
    color: white;
    text-align: center;
}

.LandingHeader_list_tekst_phoofd
{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.LandingHeader_list_searchbar
{
    grid-column-start: 2;
    height: 100%;
}

.LandingHeader_list_searchbar_form
{
    text-align: center;
    height: 40%;
    width: 50%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.LandingHeader_list_searchbar_form_Bestel{
    text-align: center;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 4%;
    border-radius: 30px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.LandingHeader_list_searchbar_form_section
{
    height: 70px;
    width: 100%;
}

.LandingHeader_list_searchbar_form_section_input
{
    /* height: 60%;
    width: 40%; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: none;
    padding-left: 15%;
    font-size: 15px;
    background-image: url('./images/location.png');
    background-repeat: no-repeat;
    background-size: 6%;
    background-position-x: 10px;
    background-position-y: center;
    height: 100%;
    width: 100%;
}

.LandingHeader_list_searchbar_form_button
{
    /* width: 6%; */
    /* position: absolute; */
    /* height: 7vh; */
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  background-color: #333;
  font-weight: bold;
  font-size: 12px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.LandingHeader_list_searchbar_form_button:hover
{
    cursor: pointer;
    background-color: black;
}

.LandingHeader_list_searchbar_form_button_Bestelheader{
  height: auto;
  width: auto;
  margin-top: 4%;
}

.autocomplete-dropdown-container{
    position: fixed;
    text-align: left;

}

.autocomplete-dropdown-container__item
{
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
    color: black;
}
.autocomplete_suggesties
{
  color: black;
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
  padding-left: 0.2em;
}

@media screen and (max-width: 1000px){
    .LandingHeader_list_searchbar_form
    {
        width: 72%;
    }
}
@media screen and (max-width: 1200px)
{
    .LandingHeader_list_modal
    {
        position: fixed;
        width: 70vw;
    }
}
@media screen and (max-width: 500px) {
    .LandingHeader_list_modal
    {
        position: fixed;
        width: 80vw;
    }

    .autocomplete_suggesties
    {
        font-size: 10px;
    }

    .LandingHeader_list_searchbar_form_section_input{
        font-size: 10px;
    }

    .autocomplete-dropdown-container
    {
        width: 75%;
        position: fixed;
    }

    .LandingHeader_list_modal_buttons_primary {
        width: 85px;
        margin: 0;
    }

    .LandingHeader_list_modal_buttons_secondary {
        width: 85px;
        margin: 0;
    }

    .LandingHeader_list_modal_buttons
    {
        margin-top: 1em;
        margin-bottom: 1em;
    }

}
