.register
{
    width: 100%;
    
}

.register_form
{
    width: 65vw;
    left: 50%;
    top: 40%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    margin-top: 35vh;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 5%;
    border-radius: 30px;
}

.register_form_error
{
    margin-left: 1em;
}
.register_form_small__error
{
    margin-left: 1em;
}


.register_form_label
{
    width: 100%;
    text-align: left;
    font-style: italic;
    margin-left: 1em;
}

.register_form_input
{
    width: 90%;
    height: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.register_form_header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 1em;
    color:  #008FE2;
}

.register_form_header_line
{
    width: 80%;
    border-style: none;
    border-radius: 50px;
    height: 5px;
    background-color: #008FE2;
}

.register_form_star
{
    width: fit-content;
    float: right;
    margin-right: 10%;
    color:  #008FE2;
    font-weight: bold;
}


.register_form_header_h1
{
    padding: 1em;
}

.register_modal
{
    display: none;
    width: 20vw;
    height: 20vh;
    z-index: 30;
    background-color: blue;
    position: absolute;
    transform: translate(-50%, -50%);

}

#dicht
{
    display: none;
}

#open
{
    display: block;
}

.register_form_submit
{
    /* width: 100%;
    background-color: #008FE2;
    color: white;
    height: 6vh;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px; */
    float: right;
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 30%;
    height: 40px;
    margin: 2em 3em;
    grid-column-start: 2;
    justify-self: end;
}

.register_form_submit:hover
{
    background-color: #0040e2;
    cursor: pointer;
}

.register_form_submitrestaurant
{
    float: right;
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 20%;
    height: 40px;
    margin-top: 0.5em;
    margin-right: 3em;
    grid-column-start: 2;
    justify-self: end;
}

.register_form_submitrestaurant:hover
{
    border: 2px solid black;
    cursor: pointer;
}

.gridsection
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
}

.register_aside
{
    display: grid;
    height: 20vh;
    right: 2%;
    top: 40%;
    position: absolute;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 12vw;
}


.register_aside_bezorger
{
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1em;
}

.register_aside_restaurant
{
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1em;
}

.register_aside_restaurant:hover,.register_aside_bezorger:hover
{
    cursor: pointer;
    border: 3px solid black;
}


.register_back
{
    position: fixed;
    height: 5vh;
    top: 35%;
    left: 2%;
}

.register_back_arrow
{
    font-weight: bold;
    font-size: 80px;
    color: #008FE2;
    text-decoration: none;
}

.register_back_arrow:hover
{
    cursor: pointer;
}


.register_container
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 1em;
}

.register_container_selection
{
    width: 100%;
    height: 80%;
    text-align: left;
    margin: 1em;
}

.register_container_selection_label
{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.register_container_selection_input
{
    float: right;
    margin-right: 3em;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.register_container_selection_input:active, .register_container_selection_input:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.register_container_selection_input:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.register_container_selection_input:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #008FE2;
}

.register_form_header_h1
{
    text-align: center;
}

.register_aside_line
{
    display: none;
}

/* @media screen and (max-width: 1200px) {
    .gridsection
    {
        display: block;
    }
} */

@media screen and (max-height: 850px) and (min-height: 700px){
    form.register_form
    {
        top: 66%;
    }
}

@media screen and (max-width: 1200px) {
    .gridsection
    {
        display: block;
    }

    .register_form
    {
        width: 85vw;
        top: 72%;
    }

    .register_form_label
    {
        font-size: 13px;
    }

    .register_form_small
    {
        font-size: 9px;
        margin-left: 1em;
    }

    .register_form_beschrijving
    {
        height: 5em;
    }

    .register_form_submit
    {
        margin: 2em 10%;
    }

    .register_form_header_p
    {
        font-size: 10px;
    }

    /* .register_klant
    {
        top: 80%;
    } */

    .register_aside {
        display: grid;
        height: 20vh;
        width: 90%;
        left: 50%;
        top: 42%;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 1em;
        grid-template-rows: none;
        height: auto;
    }

    .register_aside_bezorger, .register_aside_restaurant
    {
        width: 30%;
        height: 20px;
        font-size: 12px;
    }

    .register_aside_line
    {
        display: block;
        height: 2px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        background: #EFEFEF;
        border-style: none;
        position: absolute;
        width: 100%;
    }

    .register_back
    {
        /* top: 20%; */
        position: absolute;
    }
}


@media screen and (max-width: 500px) {
    .gridsection
    {
        display: block;
    }

    .register_form
    {
        width: 85vw;
        top: 85%;
    }

    .register_form_label
    {
        font-size: 13px;
    }

    .register_form_small
    {
        font-size: 9px;
        margin-left: 1em;
    }

    .register_form_beschrijving
    {
        height: 5em;
    }

    .register_form_header_p
    {
        font-size: 10px;
    }

    .register_klant
    {
        top: 80%;
    }

    .register_aside {
        display: grid;
        height: 20vh;
        width: 90%;
        left: 50%;
        top: 22%;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 1em;
        grid-template-rows: none;
        height: auto;
    }

    .register_aside_bezorger, .register_aside_restaurant
    {
        width: 90%;
        height: 20px;
        font-size: 12px;
    }

    .register_aside_line
    {
        display: block;
        height: 2px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        background: #EFEFEF;
        border-style: none;
        position: absolute;
        width: 100%;
    }

    .register_back
    {
        top: 20%;
        position: absolute;
    }
}
