.review{
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 55% 45%;
}

.review > h1{
  color: orange;
  font-size: 20px;
  margin-left: 20px;
  float: left;
}

.review > p{
  font-size: 15px;
  margin-left: 20px;

}

.review_stars > .reviewModal_gemiddeldeBeoordeling_stars{
  margin-top: 0px;
  margin-left: 4.5vw;
}

.reviewModal_gemiddeldeBeoordeling_stars_star{
  color: green;
}
