.reviewModal{
  width: 40%;
  margin: 3% auto;
  background-color: #DFF4FF;
  border-radius: 5px;
  height: 90vh;
  overflow: auto;
}

.ReviewModal_h3{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.reviewModalPage{
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.4);
  overflow: auto;
}

.reviewModal_header{
  display: grid;
  grid-template-columns: auto auto;
}

.reviewModal_header > h1{
  color: #282727;
  padding: 20px 20px;
}

.reviewModal_header > span{
  padding: 20px 20px;
  justify-self: end;
  font-size: 27px;
}

.reviewModal_header > span:hover{
  cursor: pointer;
}

.reviewModal_gemiddeldeBeoordeling{
  background-color: #282727;
  height: 12vh;
  padding: 40px 20px;
}

.reviewModal_gemiddeldeBeoordeling > h2{
  color: white;
  border-bottom: 2px solid white;
  font-size: 18px;
  margin-left: 40px;
  width: 35%;
  padding-bottom: 10px;
}

.reviewModal_gemiddeldeBeoordeling > h3{
  color: white;
  margin-left: 40px;
  font-size: 25px;
  margin-top: 20px;
  float: left;
}

.reviewModal_gemiddeldeBeoordeling_stars{
  margin-top: 18px;
  margin-left: 5.8vw;
}

.reviewModal_gemiddeldeBeoordeling_stars_star{
  font-size: 18px;
  margin: 0;
  padding: 10px;
  color: grey;
}

.reviewModal_button{
  color: white;
  font-weight: bold;
  background-color: #008FE2;
  border-style: none;
  border-radius: 30px;
  width: 30%;
  height: 40px;
  grid-column: 1 / 3;
  margin-left: 35%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.reviewModal_button:hover{
  background-color: #0040e2;
  cursor: pointer;
}


.writeReviewModal{
  display: block;
  z-index: 1;
}

.showModal{
  display: block;
}

.checked{
  color:orange;
}

@media (max-width: 800px) {
  .reviewModal{
    width: 95vw;
    margin: 10px;
  }
  .reviewModal_gemiddeldeBeoordeling{
    text-align: center;
  }

  .review{
    grid-template-columns: 95%;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .review > p{
    margin-left: 10%;
    width: 80%
  }

  .reviewModal_gemiddeldeBeoordeling_stars{
    margin: 18px auto;
  }
  .reviewModal_gemiddeldeBeoordeling > h3{
    display: none;
  }

  .reviewModal_gemiddeldeBeoordeling > h2{
    margin: 0 auto;
    width: 50vw;
  }

  .reviewModal_gemiddeldeBeoordeling {
    background-color: #282727;
    height: 16vh;
    padding: 20px 20px;
}

.reviewModal_button{
  margin-bottom: 30px;
  width: 60%;
  margin-left: 20%;
}

}
