.Snelmenuitem{
  text-align: center;
  background: #282727;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 6.5px 0;
  font-style: italic;
  margin-top: 4%;
  transition: .3s ease;
  width: 200px;
  margin-left: 10%;
  cursor: pointer;
}

.Snelmenuitem:hover{
  transform: scale(1.2);
}

@media screen and (max-width: 642px){
  .Snelmenuitem{
    font-size: 20px;
  }
}
