.Snelmenu{
  background-color: #008FE2; /* For browsers that do not support gradients */
  background-image: linear-gradient(#5472c0,#008FE2);
  height: fit-content;
  width: 250px;
  border-radius: 0px 0px 5px 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed;
  top: 15vh;
  display: block;
}

.Snelmenu_titel{
  text-align: center;
  background: #282727;
  color: white;
  padding: 10px 0;
  width: 200px;
  border-radius: 5px;
  font-style: italic;
  margin-left: 10%;
  padding-top: 5%;
}

.Snelmenu_sticky{
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.Snelmenu_titel_Mobile{
  display: none;
}

@media screen and (max-width: 642px){
  .SnelMenu_modal{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .Snelmenu{
    display: none;
  }
  .Snelmenu_display{
    background-color: #008FE2;
    background-image: linear-gradient(#5472c0,#008FE2);
    height: -moz-fit-content;
    height: fit-content;
    width: 250px;
    border-radius: 0px 0px 5px 0px;
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
    top: 15vh;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 5%;
    z-index: 1;
}

  .Snelmenu_close {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 32px;
    height: 32px;
    opacity: 1;
    margin-bottom: 5%;
  }

  .Snelmenu_close:before, .Snelmenu_close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .Snelmenu_close:before {
    transform: rotate(45deg);
  }
  .Snelmenu_close:after {
    transform: rotate(-45deg);
  }

  .Snelmenu_titel{
    margin-top: 5vh;
  }

  .Snelmenu_titel_Mobile{
    display: block;
    border-radius: 15px;
    border: solid 2px #008FE2;
    background-color: #008FE2;
    color: white;
    height: 15vh;
    margin-left: 2%;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    height: 40px;
    width: 50%;
    margin: 0 auto;
    margin-top: 33%;
  }
}

@media screen and (max-width: 347px){

  .Snelmenu_titel_Mobile{
    margin-top: 40%;
  }
}
