.WinkelmandjeItem{
  margin-top: 5%;
}

.WinkelmandjeItem{
}

.WinkelmandjeItem_items{
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.3fr 0.2fr;
}

.WinkelmandjeItem_items_prijs{
  margin-left: 20%;
}

.WinkelmandjeItem_items_gerecht{
  padding: 0 2%;
}

.WinkelmandjeItem_delete{
  width: 25px;
  height: 25px;
  cursor: pointer;
  justify-self: end;
}

@media only screen and (max-width: 1400px) {
  .WinkelmandjeItem_items p {
    font-size: 15px;
  }
  .WinkelmandjeItem_delete{
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 1005px) {
  .WinkelmandjeItem_items p {
    font-size: 15px;
  }
  .WinkelmandjeItem_delete{
    width: 15px;
    height: 15px;
  }
}
