.writeReviewModal{
  width: 40%;
  margin: 3% auto;
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
  background-color: #DFF4FF;
}

.WriteReviewModalPage{
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.4);
  overflow: auto;
}

.writeReviewModal_title{
  padding: 30px;
}

.writeReviewModal_form{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
}

.writeReviewModal_form_h2{
  text-align: left;
  grid-column: 1;
  margin-left: 20%;
  font-size: 20px;
  margin-top: 10px;
}

.writeReviewModal_span{
  font-size: 27px;
  float: right;
  padding: 20px 20px;
}

.writeReviewModal_span:hover{
  cursor: pointer;
}

.writeReviewModal_form_stars{
  grid-column: 2;
  outline: none;
  margin-left: 28%;
}

.writeReviewModal_form_p{
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 5% 0;
}

.writeReviewModal_form_textarea{
  resize: none;
  padding: 5px;
  border-radius: 5px;
  grid-row: 3;
  grid-column: 1 / 3;
  width: 80%;
  margin: 0 auto;
  height: 15vh;
}

.writeReviewModal_form_button{
  color: white;
  font-weight: bold;
  background-color: #008FE2;
  border-style: none;
  border-radius: 30px;
  width: 30%;
  height: 40px;
  grid-column: 1 / 3;
  margin: 5% auto;
}

.writeReviewModal_form_button:hover{
  background-color: #0040e2;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .writeReviewModal_form{
    display: block;
  }

  .writeReviewModal{
    width: 95vw;
    margin: 10px;
  }

  .writeReviewModal_form_h2{
    text-align: center;
    margin-left: 0;
  }

  .writeReviewModal_form_stars{
    margin: 0 auto;
  }

  .writeReviewModal_form_p{

  }

  .writeReviewModal_form_textarea{

  }

  .writeReviewModal_form_button{

  }
}
